@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
.flex-karo{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  display: flex;
  justify-content: center;  
  flex-direction: column;
  width: 100%;
}
.nav-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar{
  height: 80px;
  width: 75%;
  background: #141c27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10000;
}
.nav-items{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5%;
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease;
}
.nav-items a:hover{
  color: #55e6a5;
}
.logo{
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #141c27;
  background: #55e6a5;
}
.get-in-touch-btn{
  height: 100%;
  width: 80px;
  background: #55e6a5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #141c27;
}
/*===================================*/
.slide-about-div{
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: -100%;
  position: fixed;
  z-index: 10000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  backdrop-filter: blur(10px);
  transition: 0.4s all;
}
.about-slide-div{
  height: 100%;
  width: 20%;
  background: #09101a;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
  overflow-x: scroll;
}
.about-header{
  width: 100%;
  height: 100px;
  background: #141c27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 0px 20px 20px;
}
.logo-a{
  background: #55e6a5;
  font-size: 30px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: 1000;
}
.about-close-btn{
  padding: 20px;
  font-size: 40px;
  color: #55e6a5;
}
.slide-about-text{
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.slide-about-div h1{
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}
.slide-about-div p{
  color: #8c8d8e;
  line-height: 25px;
}
.about-git-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  grid-gap: 20px;
  padding: 20px;
  color: white;
}
.about-git-div input{
  height: 70px;
  background: transparent;
  width: 100%;
  border: 1px solid #55e6a5;
  padding: 20px;
  font-size: 18px;
  color: white;
}
.about-git-div textarea{
  background: transparent;
  border: 1px solid #55e6a5;
  padding: 20px;
  color: white;
}
.about-git-div input:nth-child(5){
  background: #55e6a5;
  color: #09101a;
  width: 50%;
}
/*===================================*/
.landing-div{
  height: 100vh;
  width: 100%;
  background-image: url(banner-scaled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lan-sub-div{
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.lan-text-div{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  grid-gap: 50px;
  color: white;
}
.lan-h1-text{
  font-size: 30px;
  font-weight: 1000;
}
.lan-h1-text h1{
  color: white;
}
.lan-h1-text h1 span{
  color: #55e6a5;
}
.lan-p-text{
  color: #a2a2a2;
}
.lan-cv-div{
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: row;
  color: black;
  grid-gap: 10%;
  font-weight: 0;
}
.watch-video{
  display: flex;
  align-items: center;
  grid-gap: 10px;
  color: white;
  justify-content: center;
}
.watch-video i{
  font-size: 50px;
  color: #55e6a5;
}
.download-cv{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  padding: 20px;
  background: #55e6a5;
  font-size: 1em;
}
.download-cv a{
  color: black;
}

.lan-photo-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  padding-left: 100px;
}
.my-photo{
  height: 400px;
  width: 400px;
  background-image: url(kk.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-photo::after{
  content: " ";
  height: 500px;
  width: 500px;
  background-image: url(dp-bg.png) ;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  position: absolute;
  animation: ex 5s linear infinite;
}
@keyframes ex{
  50%{
    transform: translateY(10px);
  }
}
/*===================================================*/
.second-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100vh;
}
.service-div{
  background: black;
  height: 100%;
  width: 75%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-gap: 150px;
}
.service-heading{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-gap: 50px;
}
.service-heading p{
  font-size: 20px;
  color: #55e6a5;
}
.service-heading h1{
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.service-elements-div{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 50px;
}
.ser-box{
  height: 250px;
  width: 30%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  grid-gap: 20px;
  padding: 20px;
}
.ser-box h1 {
  font-weight: 500;
  font-size: 20px;
}
.ser-box p{
  color: #7c7d7e;
  line-height: 25px;
  text-align: center;
}
.ser-logo{
  top: -70px;
  position: absolute;
}
/*====================================*/
.third-div{
  width: 100%;
  height: 120vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msg-me-div{
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px;
}
.msg-left-div{
  height: 100%;
  width: 70%;
  flex-direction: column;
  display: flex;
  grid-gap: 50px;
  padding: 30px;
}
.msg-left-div h1{
  font-size: 4em;
}
.msg-left-div h1 span{
  font-size: 2em;
}
.msg-left-div p{
  color: #919192;
  line-height: 30px;
}
.msg-box-div{
  display: flex;
  align-items: center;
/*  justify-content: center;*/
  grid-gap: 20px;
}
.msg-box{
  height: 280px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #09101a;
  flex-direction: column;
  grid-gap: 20px;
}
.msg-box h1{
  font-size: 45px;
}
.msg-box p{
  color: white;
  font-size: 20px;
}
.msg-right-div{
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  background: #09101a;
  padding: 50px;
}
.msg-right-div form{
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-gap: 30px;
}
.msg-right-div form p{
  font-size: 20px;
  color: #a2a2a2;
}
.msg-right-div form input{
  width: 100%;
  height: 70px;
  border: 1px solid #55e6a5;
  background: none;
  padding: 20px;
  color: white;
  font-size: 20px;
}
.msg-right-div form textarea{
  border: 1px solid #55e6a5;
  background: none;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.msg-right-div form .msg-submit-btn{
  background: #55e6a5;
  width: 50%;
  color: black;
  border: none;
}
/*===================================================*/
.fourth-div{
/*  height: 150vh;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #09101a;
}
.my-educatoin-div{
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  grid-gap: 100px;
  flex-direction: column;
  padding: 100px 0 100px 0 ;
}
.edu-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 20px;
}
.edu-heading p{
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 20px;
  color: #55e6a5;
}
.edu-heading h1{
  font-size: 50px;
}
.edu-boxes-div{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 50px;
}
.edu-box{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.edu-year{
  height: 60px;
  width: 25%;
  border: 1px solid #55e6a5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #55e6a5;
}
.edu-box p{
  font-size: 18px;
  color: #9c9c9c;
}
.skill-div{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.my-skills{
  display: flex;
  height: 80px;
  width: 100%;
  background: #151c25;
  border-radius: 5px;
  flex-direction: column;
  position: relative;
}
.my-skills p{
  width: 100%;
  padding: 20px;
}
.skill-line{
  height: 8px;
  width: 100%;
  background: #55e6a5;
  bottom: 0;
  position: absolute;
}
.html{
  width: 60%;
}
.css{
  width: 50%;
}
.js{
  width: 80%;
}
.java{
  width: 70%;
}
.figma{
  width: 50%;
}
.py{
  width: 43%;
}
/*==========================*/
.fifth-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #02050a;
}
.clients-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  color: whitesmoke;
  padding: 100px 0 100px 0;
  flex-direction: column;
  grid-gap: 150px;
}
.clients-heading-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-gap: 20px;
}
.clients-heading-div p{
  color: #55e6a5;
  font-weight: 1000;
  font-size: 20px;
}
.clients-heading-div h1{
  font-size: 45px;
}
.clients-review-box{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-gap: 100px;
}
.review-box{
  height: 250px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 45%;
  display: flex;
  padding: 20px;
/*  align-items: center;*/
  flex-direction: column;
  justify-content: center;
  position: relative;
  grid-gap: 20px;
}
.cust-dp{
  height: 100px;
  border-radius: 50%;
  width: 100px;  
  background-size: cover;
  top: -50px;
  right: 50px;
  position: absolute;
  background-position: center;
  background-image: url(client1.jpg);
}
.cust2{
  background-image: url(client2.jpg);
}
.cust-dtl{
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.cust-dtl p {
  font-size: 18px;
  text-transform: uppercase;
  color: #a2a2a2;
}
.cust-dtl h1{
  font-size: 25px;
  font-weight: 500;
}
.cust-comment{
  color: #a2a2a2;
  display: flex;
  align-items: center;
  grid-gap:  40px;
}
.cust-comment p{
  width: 80% ;
}
.cust-comment-logo{
  width: 50px;
  height:  50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(quot.png);
}
.rating{
  font-size: 20px;
  color: #ffba08;
}
/*==============================================*/
.marque-div{
  background: #55e6a5;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marque-div marquee p{
  font-size: 110px;
  font-weight: 1000;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

/*==============================================*/
.sixth-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
  background: #02050a;
  grid-gap: 100px;
}
.sixth-div h1{
  font-size: 40px;
  color: white;
}
.projects-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  grid-gap: 5%;
}
.project-box{
  height: 400px;
  width: 50%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 10px solid #141c27;
  color: white;
}
.project-img{
  height: 90%;
  width: 100%;
  background-image: url(bg1.jpg);
  background-repeat: no-repeat;  
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.pi2{
  background-image: url(bg2.jpg);
}
.pi3{
  background-image: url(bg3.jpg);
}
.project-name{
  height: 10%;
  width: 100%;
  padding: 10px;
  justify-content: left;
  align-items: center;
  display: flex;
  font-weight: 1000;
  font-size: 20px;
  color: #55e6a5;
  background: #141c27;
}
.view-project{
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
/*  bottom: -1000px;*/
  
  transition: 0.3s all;
}
.view-project:hover{
  backdrop-filter: blur(10px);
}
.view-project p{
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #55e6a5;
  color: #141c27;
}


/*==============================================*/
.end-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 300px;
  grid-gap: 20px;
  background: #02050a;
  color: white;
}
.end-div-box{
  height: 250px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.end-box-logo{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  background: #55e6a5;
  color: #02050a;
}
.end-dtls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 30px;
  grid-gap: 10px;
}
.end-dtls h1{
  font-size: 22px;
}
.end-dtls p{
  color: #a2a2a2;
  word-wrap: break-word;
  width: 100%;
  font-size: 20px;
}
/*====================================*/
.end-end-div{
  height: 50px;
  width: 100%;
  color: #525456;
  background: #02050a;
  display: flex;
  align-items: center;
  justify-content: center ;
}
/*===============================================================*/
@media only screen and (max-width: 1500px) {
 .end-box-logo{
  height: 70px;
  width: 70px;
  font-size: 20px;
 }
 .end-div-box{
  font-size: 15px;
 }
 .about-git-div input:nth-child(5){
  width: 70%;
 }
.about-slide-div{
  width: 30%;
 }
}
@media only screen and (max-width: 1300px) {
  .lan-photo-div{
    display: none;
  } 
  .lan-text-div{
    width: 100%;
  }
  .msg-right-div form{
    width: 100%;
  }
  .about-slide-div{
    width: 30%;
  }
}
@media only screen and (max-width: 1200px) {
  .lan-sub-div,.nav-bar,.service-div,.msg-me-div,.my-educatoin-div,.clients-div,.projects-div{
    width: 100%;
  }
  .service-div{
    padding: 8%;
  }
  .my-educatoin-div{
    padding: 40px;
  }
}
@media only screen and (max-width: 1100px){
  .second-div{
    height: 150vh;
  }
  .service-elements-div{
    display: grid;
    grid-template-columns: auto auto ;
    width: 100%;
    grid-gap: 50px;
    grid-row-gap: 100px;
  }
  .ser-box{
    height: 300px;
    width: 100%;
  }
  .third-div{
    height: 200vh;
  }
  .msg-me-div{
    padding: 100px;
    width: 100%;
    flex-direction: column;
  }
  .msg-left-div{
    width: 100%;
    padding: 0 0 10px 0;
  }
  .msg-box-div{
    width: 100%;
  }
  .msg-box{
    width: 50%;
  }
  .msg-left-div{
    width: 100%;
    display: ;
  }
  .msg-right-div{
    width: 100%;
  }
  .my-educatoin-div{
    height: 250vh;
  }
  .edu-boxes-div{
    grid-gap: 100px;
    grid-template-columns: 1fr;
  }
  .skill-div{
    grid-template-columns: 1fr;
  }
  .clients-review-box{
    flex-direction: column;
    width: 100%;
  }
  .review-box{
    width: 80%;
  }
  .sixth-div{
    padding: 100px 0 100px 0;
  }
  .projects-div{
    flex-direction: column;
  }
  .project-box{
    width: 80%;
  }
  .end-div{
    flex-direction: column;
    height: 50vh;
  }
  .end-div-box{
    width: 100%;
  }
  .about-slide-div{
    width: 50%;
  }
}
@media only screen and (max-width: 1200px){
  .nav-bar{
    height: 50px;
  }
  .nav-items{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    grid-gap: 40px;
    width: 100%;
    background: #09101a;
    padding: 20px;
    border: 1px solid transparent;
    border-top-color: #55e6a5;
    border-bottom-color: #55e6a5;
    transform-origin: top;
    transform: rotateX(90deg);
    top: 100%;
    overflow: hidden;
    transition: 0.5s all;
    height: 0;
  }
  .nav-items a{
  }
}
@media only screen and (max-width: 800px){

  .lan-cv-div{
    width: 100%;
  }
  .logo{
    font-size: 40px;
    width: 50px;
  }
  .get-in-touch-btn{
    width: 50px;
  }
  .get-in-touch-btn i{
    font-size: 30px;
  }
  .download-cv{
    width: 50%;
    height: 50px;
    width: 180px;
    font-size: 0.8em;
  }
  .download-cv a p{
    width: 100%;
  }
  .watch-video{
    font-size: 0.8em;
  }
  .second-div{
    height: 180vh;
  }
  .service-heading h1{
    font-size: 2em;
    font-weight: 1000;
  }
  .service-div{
    padding: 3%;
  }
  .service-elements-div{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    grid-gap: 50px;
    grid-row-gap: 100px;
  }
  .third-div{
    height: 250vh;
  }
  .msg-left-div{
    justify-content: center;
    width: 100%;
  }
  .msg-me-div{
    padding: 5%;
  }
  .msg-left-div h1{
    font-size: 2em;
  }
  .msg-box-div{
    flex-direction: column;
    width: 100%;
  }
  .msg-box{
    width: 100%;
  }
  .msg-right-div{
    padding: 3%;
    height: 40%;
  }
  .msg-right-div form{
    width: 100%;
  }
  .fourth-div{
    height: 300vh;
  }
  .my-educatoin-div{
    display: flex;
    padding: 5%;
  }
  .edu-year{
    width: 40%;
  }
  .edu-heading{
    width: 100%;
  }
  .edu-heading h1{
    font-size: 2em;
  }
  .edu-box h1{
    font-size: 1.5em;
  }
  .edu-box p{
    font-size: 16px;
  }
  .clients-heading-div h1{
    font-size: 2.5em;
  }
  .clients-heading-div p{
    font-size: 1em;
  }
  .review-box{
    height: 400px;
    grid-gap: 50px;
    font-size: 15px;
  }
  .cust-dp{
    height: 80px;
    width: 80px;
    right: 30px;
  }
  .marque-div{
    height: 100px;
  }
  .marque-div marquee p{
    font-size: 80px;
  }
  .end-box-logo{
    height: 50px;
    width: 50px;
    font-size: 16px;
  }
  .end-dtls h1{
    font-size: 16px;
  }
  .end-dtls p{
    font-size: 14px;
  }
}
